.homeContainer {
  display: flex;
  flex-flow: column;
  align-items:center;
  gap: 50px;
  width: 100%
}

.banner {
  width: 100%;
  background-image: url("../assets/banner.jpg");
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 200px -300px;
  height: 70vh;
  transition: all 1.2s ease-in-out;
  color: white;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.banner:hover {
  background-position: 220px -320px;
}

.bannerText {
  margin-right: 50%;
}

.container {
  margin: 0;
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.navBox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  height: 200px;
}

@media only screen and (max-width: 1450px) {
  .banner {
    background-position: 100px 0;
  }
  .banner:hover {
    background-position: 110px 0;
  }
}
