.homeContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 80px;
  width: 100%;
}

.banner {
  width: 100%;
  background-image: url("../assets/banner.jpg");
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 200px -300px;
  height: 70vh;
  transition: all 1.2s ease-in-out;
  color: white;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.banner:hover {
  background-position: 220px -320px;
}

.bannerText {
  margin-right: 50%;
}

.bannerText h1,
p {
  color: white;
}

.container {
  margin: 0;
  width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
}

.navBox {
  display: flex;
  align-items: self-start;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  height: 500px;
  margin-bottom: 80px;
  border-radius: 20px;
  transition: all 0.5s ease-in-out;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navBox:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.navBox > h2 {
  margin: 10px;
  font-weight: 100;
}

.laptop {
  composes: navBox;
  background-image: url(../assets/laptop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.phone {
  composes: navBox;
  background-image: url(../assets/phone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -210px 20px;
}

.headphone {
  composes: navBox;
  background-image: url(../assets/headset.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media only screen and (max-width: 1450px) {
  .banner {
    background-position: 100px 0;
  }
  .banner:hover {
    background-position: 110px 0;
  }
}
