.navBar {
  display: flex;
  align-items: center;
  width: 70%;
  gap: 20px;
  padding-block: 1.2rem;
}

.header {
  margin-right: auto;
  color: #000000;
}

.header:hover {
  color: #000000;
}

.searchBar {
  display: flex;
  align-items: center;
}

.searchBar > input {
  height: 35px;
  width: 20vw;
  border-radius: 30px;
  border: none;
  background-color: rgb(241, 241, 241);
  padding: 0;
  padding-left: 10px;
  padding-right: 50px;
}

.searchButton {
  background-image: url(../assets/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: none;
  content: "";
  background-size: contain;
  height: 25px;
  width: 25px;
  transform: translateX(-45px);
}

.shoppingCart {
  content: "";
  background-image: url(../assets/cart.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.cartNum {
  position: absolute;
  background-color: #f52626;
  color: white;
  font-size: 0.6em;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  right: 14.2vw;
  top: 30px;
  cursor: pointer;
}

.checkoutContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 70vw;
  min-height: 60vh;
  gap: 20px;
}

.cartContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.cartItem {
  display: flex;
  border: 1px solid red;
  margin-block: 10px;
}

.cartItem img {
 width: 200px;
}

.checkout {
  background-color: red;
  border-radius: 10px;
  margin-block: 10px;
}

.saleBar {
  height: 60px;
  width: 100%;
  background-color: #f52626;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12vw;
  color: white;
}

.saleBar > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.saleBar p {
  margin: 0;
  margin-top: -5px;
}

.deliveryIcon {
  content: "";
  background-image: url(../assets/delivery.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40px;
  width: 40px;
}

.collectIcon {
  content: "";
  background-image: url(../assets/store.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40px;
  width: 40px;
}

footer {
  height: 40vh;
  background-color: #0f0f0f;
  width: 100%;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  gap: 2vh;
}

.footerLinks {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 5vw;
}

footer h2 {
  padding: 5px;
}

footer li {
  list-style: none;
  padding: 5px;
  cursor: pointer;
}

footer ul:last-child li {
  cursor: default;
}

.logos {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.logoImg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40px;
  width: 40px;
  content: "";
  cursor: pointer;
}

.facebook {
  composes: logoImg;
  background-image: url(../assets/facebook.svg);
}

.twitter {
  composes: logoImg;
  background-image: url(../assets/twitter.svg);
}

.youtube {
  composes: logoImg;
  background-image: url(../assets/youtube.svg);
}

@media only screen and (max-width: 1450px) {
  .navBar {
    width: 90vw;
  }

  .cartNum {
    right: 3.5vw;
  }
}
