.productsBody {
  display: flex;
  justify-content: center;
  min-height: 50vh;
  background-color: #f1f1f1;
  width: 100%;
}

.categories {
  grid-column: 1/2;
  margin-block: 30px;
  padding: 30px;
  padding-right: 50px;
  background-color: white;
  height: 250px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 10px;
  position: sticky;
  top: 30px;
}

.categories h2 {
  font-weight: 500;
}

.categories ul {
  list-style: none;
  margin-left: 0;
  padding-left: 5px;
}

.categories ul li {
  color: #1a1a1a;
  font-weight: 400;
  padding: 5px;
}

.categories ul li:hover {
  color: #000000;
  font-weight: 500;
}

.productContainer {
  display: grid;
  grid-column: 2/3;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  width: 60vw;
  margin: 15px;
}

.productBox {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 15px;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 10px;
  padding: 1em;
  max-width: 400px;
  background-color: white;
}

.productBox img {
  width: auto;
  max-width: 200px;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.productBox h2 {
  font-weight: 400;
  font-size: 1em;
}

.productTitle {
  margin-top: auto;
}

.productLower {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.productLower button {
  border-radius: 20px;
  padding: 0.4em 0.8em;
  font-size: 0.8em;
  font-weight: 400;
  color: white;
  background-color: rgb(0, 0, 0);
  transition: all 0.1s ease-in-out;
}

.productLower button:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 1450px) {
  .productContainer {
    width: 80vw;
  }
}
